<html>

<head>
    <style type="text/css">
   #graph {
    width: 80%;
    height: 65%;
   } 
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
</head>

<body>
    <div id="top"><h3>UK Fuels Prices 2003-present</h3><span>Github</span>
        <br> P Price this week:{{ this_week }}p/litre</row></div>
    <div id="graph">{{ a }}</div>
    <div id="bottom">Data provided by <a href="https://www.gov.uk/government/statistical-data-sets/oil-and-petroleum-products-weekly-statistics">gov.uk</a>
    </div>
</body>
</html>